# Ignorer les dépendances installées
node_modules/
npm-debug.log

# Ignorer les fichiers de configuration locale
.env
.env.local

# Ignorer les fichiers de cache temporaire
.cache/
.tmp/

# Ignorer les fichiers de distribution précédents
dist/

# Ignorer les fichiers liés au système de contrôle de version
.git/
.gitignore

# Ignorer les fichiers spécifiques aux IDE et éditeurs
.idea/
.vscode/

# Ignorer les fichiers de test et de couverture
coverage/
*.spec.ts

# Ignorer les fichiers de documentation
docs/
*.md

# Ignorer les fichiers de configuration de l'éditeur
.editorconfig

# Ignorer les fichiers de configuration de pré-commit
.husky/