# Répertoires de compilation
/bin/
/obj/

# Répertoire de configuration de Visual Studio
/.vs/

# Fichiers de configuration spécifiques à l'utilisateur
*.user
*.suo
*.userosscache
*.sln.docstates

# Fichiers de configuration Angular
node_modules/

# Autres fichiers temporaires
*.log
