<div class="resetPw-container">
    <p-card class="resetPw-card">
      <div class="logo-container">
        <img src="./assets/images/tm.png" alt="App Logo" class="app-logo" />
      </div>
      <form [formGroup]="resetPwForm" (ngSubmit)="onSubmit()">
        <div class="p-field p-fluid">
          <label for="email" class="bold-label">Email</label>
          <div class="icon-input">
            <i class="pi pi-envelope"></i>
            <input id="email" type="email" pInputText formControlName="email" class="p-inputtext" placeholder="Enter your email" [readonly]="true" />
          </div>
        </div>
        <div class="p-field p-fluid">
          <label for="newPassword" class="bold-label">New Password</label>
          <div class="icon-input">
            <i class="pi pi-lock"></i>
            <input
              id="newPassword"
              type="password"
              pInputText
              formControlName="newPassword"
              class="p-inputtext"
              placeholder="Enter new password"
            />
          </div>
          <small
            *ngIf="resetPwForm.get('newPassword')?.invalid && (resetPwForm.get('newPassword')?.dirty || resetPwForm.get('newPassword')?.touched)"
            class="p-error"
          >
            Please enter a valid password.
          </small>
        </div>
  
        <div class="p-field p-fluid">
          <label for="confirmPassword" class="bold-label">Confirm Password</label>
          <div class="icon-input">
            <i class="pi pi-lock"></i>
            <input
              id="confirmPassword"
              type="password"
              pInputText
              formControlName="confirmPassword"
              class="p-inputtext"
              placeholder="Confirm your password"
            />
          </div>
          <small
            *ngIf="resetPwForm.get('confirmPassword')?.invalid && (resetPwForm.get('confirmPassword')?.dirty || resetPwForm.get('confirmPassword')?.touched)"
            class="p-error"
          >
            Password confirmation does not match.
          </small>
        </div>
  
        <button
          pButton
          type="submit"
          label="Reset Password"
          icon="pi pi-check-circle"
          class="btn-primary full-width"
          [disabled]="loading"
        >
          <ng-template #loadingTemplate>
            <i *ngIf="loading" class="pi pi-spin pi-spinner"></i>
          </ng-template>
        </button>
      </form>
    </p-card>
  </div>
  