<div class="login-container">
  <p-card class="login-card">
    <div class="logo-container">
      <img src="./assets/images/tm.png" alt="App Logo" class="app-logo" />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-field p-fluid">
        <label for="email" class="bold-label">Email</label>
        <div class="icon-input">
          <i class="pi pi-envelope"></i>
          <input
            id="email"
            type="text"
            pInputText
            formControlName="email"
            class="p-inputtext"
            placeholder="Enter your email"
          />
        </div>
        <small
          *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
          class="p-error"
        >
          Please enter a valid email.
        </small>
      </div>

      <div class="p-field p-fluid">
        <label for="password" class="bold-label">Password</label>
        <div class="icon-input">
          <i class="pi pi-lock"></i>
          <input
            id="password"
            type="password"
            pInputText
            formControlName="password"
            class="p-inputtext"
            placeholder="Enter your password"
          />
        </div>
        <small
          *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
          class="p-error"
        >
          Password is required.
        </small>
      </div>

      <button
        pButton
        type="submit"
        label="Login"
        icon="pi pi-sign-in"
        class="btn-primary full-width"
        [disabled]="loading"
      ></button>
    </form>

    <div class="options">
      <button
        pButton
        type="button"
        label="Create Account"
        icon="pi pi-user-plus"
        class="p-button-text full-width bold-label option-button"
        (click)="navigateToRegister()"
      ></button>
      <button
        pButton
        type="button"
        label="Forgot Password?"
        icon="pi pi-question-circle"
        class="p-button-text full-width bold-label option-button"
        (click)="navigateToForgotPassword()"
      ></button>
    </div>
  </p-card>
</div>
