.calendar-view {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.calendar-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.calendar-controls button {
  background: linear-gradient(to right, #e52d27, #b31217); /* Dégradé rouge */
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.calendar-controls button:hover {
  transform: scale(1.05);
}

.calendar-controls h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
  font-weight: 600;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
  background: #ea0303;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.calendar-week {
  display: contents;
}

.calendar-day {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, transform 0.2s ease;
  height: 120px; /* Hauteur fixe pour chaque case */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e0e0e0; /* Bordure légère */
  overflow: hidden;
}

.calendar-day:hover {
  background-color: #f8f8f8; /* Fond légèrement gris au survol */
  transform: scale(1.02);
}

.calendar-day.other-month {
  background-color: #f1f1f1;
  color: #ccc;
}

.calendar-date {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.calendar-holiday-container {
  flex: 1;
  overflow-y: auto; /* Permet de faire défiler les éléments si nécessaire */
}

.calendar-holiday {
  padding: 5px;
  border-radius: 6px;
  margin-top: 5px;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #007bff; /* Bleu */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar-holiday:hover {
  background-color: #0056b3; /* Teinte plus foncée au survol */
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.filters input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  font-size: 1rem;
}

.filters input:focus {
  border-color: #ea0303; /* Bordure rouge au focus */
  outline: none;
}

.filters input::placeholder {
  color: #aaa;
}
