<div class="home-layout">
    <header>
      <app-navbar></app-navbar>
    </header>
  
    <div class="main-container">
      <aside class="sidebar" [class.closed]="isSidebarClosed">
        <app-sidebar (toggleSidebar)="toggleSidebar()"></app-sidebar>
      </aside>
  
      <main class="main-content" [class.sidebar-closed]="isSidebarClosed">
        <!-- Title -->
        <div class="card-header d-flex justify-content-between align-items-center">
          <h2 class="mb-0">Profile</h2>
        </div>
        <div class="content-wrapper">

        </div>
      </main>
    </div>
  
  </div>
  